<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets async="true">
    <target xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="File" xsi:type="File" fileName="Log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
 
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="File" />
  </rules>
</nlog>