<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.11.0" targetFramework="net452" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.11.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="NLog" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.11" targetFramework="net452" />
  <package id="NLog.Windows.Forms" version="4.2.3" targetFramework="net452" />
  <package id="ObjectListView" version="2.7.1.5" targetFramework="net452" />
  <package id="Ookii.CommandLine" version="2.2" targetFramework="net452" />
  <package id="Ookii.Dialogs.WindowsForms" version="1.0" targetFramework="net452" />
  <package id="PowerArgs" version="2.7.2.0" targetFramework="net452" />
  <package id="RibbonLib" version="2.7.9.0" targetFramework="net452" />
  <package id="TreeViewAdv" version="1.7.0.0" targetFramework="net452" />
</packages>